<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cairh.app.sjkh">


    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.hardware.camera"/>
    <uses-permission android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS"></uses-permission>

   <application>
        <activity
            android:name="com.cairh.app.sjkh.MainActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/CRHAppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
            android:name="com.cairh.app.sjkh.ui.VideoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/CRHAppTheme"/>
        <activity
            android:name="com.cairh.app.sjkh.ui.CameraMainActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/CRHAppTheme"/>
        <activity
            android:name="com.cairh.app.sjkh.SchemeActivity"
            android:theme="@style/CRHAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="CRHSJKH"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.cairh.app.sjkh.ui.SingleVideoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/CRHAppTheme"/>
        <activity
            android:name="com.cairh.app.sjkh.ui.VideoPreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/CRHAppTheme"/>
        <activity
            android:name="com.cairh.app.sjkh.ui.FaceCameraActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"/>

        <activity
            android:name="com.cairh.app.sjkh.ui.FaceCamera2Activity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"/>

        <activity
            android:name="com.cairh.app.sjkh.ui.FaceCameraNewActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"/>

        <activity
            android:name="com.cairh.app.sjkh.ui.SingleVideo2Activity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"/>
        <activity
            android:name="com.cairh.app.sjkh.ui.SingleViewoPreivewActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"/>
        <activity
            android:name="com.cairh.app.sjkh.ui.Camera2Activity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"/>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:exported="false"
            android:process=":remote"></service>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="ljeTCCsVh1rap0tutGgG29Up"/>
    </application>

</manifest>